extends "book/base.html"
| {% load static %}
block pagetitle
	| 《{{book.title}}》-{{book.author}} 著- {{book.category}}
block keymeta
	| {{book.title}};{{book.author}}
block keydesc
	| {{book.title}}VIP章节,{{book.title}}无弹窗最新章节,{{book.title}}小说是一部非常好的{{book.category}}类小说,本站还提供玄幻,武侠,网游,都市,军事等类别的小说免费阅读,好小说尽在看小说么
block content
	.row.pagelist
		.col-md-12
			ol.breadcrumb
				li: a(href="/") 书籍列表
				li: a(href="{{book.get_category_url}}")!= book.category
				li.active!= book.title
		.col-md-12
			h2.text-center!= book.title
				small
					a(href="/?a={{book.author}}",title="{{book.author}}")
						| {{book.author}}
		.col-md-9.col-xs-12.col-sm-12
			.panel.panel-info
				.panel-heading
					h3.panel-title 书籍简介
				.panel-body
					.frontimage.pull-left
						img(src="{%if book.front_image%}{{book.front_image.url}}{%else%}{%static 'img/nocover.jpg'%}{%endif%}")
						a.btn.btn-sm.btn-info(href="{{book.get_index_url}}") 进入阅读
					ol.breadcrumb.center(style="margin: 0 0 5px 125px;")
						- with book.get_bookrank as bookrank
							li 总点击: {{bookrank.all_point}}
							li 总推荐: {{bookrank.all_push}}
							li 总收藏: {{bookrank.all_fav}}
					.caption.bookinfo!= book.info_html|linebreaks
				if user.is_superuser
					.panel-footer.admin
						a.btn.btn-danger.btn-xs(target="_blank",href="/admin/book/book/{{book.pk}}/") 编辑信息
						a.bookfixpic.btn.btn-danger.btn-xs(href="javascript:;",data-url="{% url 'bookfixpic' book.pk %}") 更新图章
			.panel.panel-success
				.panel-heading
					h3.panel-title 最新章节
				.panel-body
					.title
						h3
							a(href="{{book.last_page.get_absolute_url}}",target="_blank"): font(style="color:red"): strong= book.last_page.title_html
							span （更新于: <span>{{book.last_update|date}}</span>）
					a.newpage(href="{{book.last_page.get_absolute_url}}",style="color:#333;cursor: pointer;")
						.caption.newpage!= book.last_page.get_content|truncatechars_html:300|safe
		.col-md-3.hidden-xs.hidden-sm
			.panel.panel-warning
				.panel-heading
					h3.panel-title 同类推荐
				ul.list-group
					li.list-group-item
						for book in tuijian
							.media.tuijian
								a.pull-left(href="#")
									img.media-object(width="65",height="80",src="{%if book.front_image%}{{book.front_image.url}}{%else%}{%static 'img/nocover.jpg'%}{%endif%}")
								.media-body
									h6.media-heading: a(href="{{book.get_absolute_url}}")= book.title
									p
										span.weak 作者：
										a(href="/?a={{book.author}}",title="{{book.author}}")= book.author
										br
										span.weak 分类：
										a(href="{{book.get_category_url}}")= book.category
